<reference path="~/Scripts/jquery.min.js"></reference>
<reference path="~/Content/bootstrap.css"></reference>

@{
    ViewBag.Title = "About";
}
<div class="container" style="color:white" id="topDiv">
    <div class="row text-center">

        <h2>@ViewBag.Title</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <br />
    </div>

    <div class="container-fluid">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam facilisis nunc quis suscipit.
            Duis tellus quam, lobortis in tortor eu, vehicula accumsan eros. Aliquam molestie et sapien nec rutrum.
            Nullam nec fermentum purus. Mauris dapibus velit lobortis tristique aliquet. In nec imperdiet sem, vitae ultrices augue.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Quisque nec dolor lectus.
            Praesent lacinia consequat libero at cursus. Vestibulum vitae lacinia tellus, sed auctor arcu.
        </p>

        <p>
            Integer et ultrices augue. Suspendisse potenti. Etiam vulputate eros et nulla efficitur, id egestas metus blandit.
            Mauris eget magna a metus sagittis dapibus. Donec convallis enim sit amet bibendum cursus.
            Curabitur ornare ut odio volutpat viverra. Mauris nec facilisis metus. Ut bibendum ante a sapien euismod,
            ac placerat sapien euismod. Praesent id velit non arcu mollis suscipit. Integer eget ipsum ligula.
        </p>

        <p>
            In in elit at elit semper faucibus. Donec pretium volutpat quam id volutpat.
            Nullam nec lorem tempus, maximus velit et, fermentum lacus. Proin lacus lorem, venenatis in massa id,
            egestas efficitur eros. Ut viverra mattis nunc, sit amet efficitur purus finibus ut. Aliquam id purus sagittis,
            molestie urna eu, lobortis velit. Vivamus viverra mattis scelerisque. Integer id tortor malesuada justo euismod
            laoreet in nec eros. Fusce pellentesque ornare leo, ac facilisis est sodales at. Suspendisse nec consequat enim.
            Aliquam cursus mi in quam placerat, at aliquam lorem interdum.
        </p>

        <p>
            Sed commodo interdum tellus in tempus. Cras purus nunc,
            lobortis ac condimentum nec, scelerisque vel diam. Class aptent taciti sociosqu ad litora torquent
            per conubia nostra, per inceptos himenaeos. Sed id sapien et leo tincidunt pulvinar. Proin ligula sem,
            accumsan ut consequat et, varius ut tellus. Nulla sagittis est fermentum tortor faucibus, eu
            volutpat dolor vulputate. Quisque porttitor non nunc sit amet rutrum. Curabitur placerat congue enim eget faucibus.
            Aliquam vel aliquet turpis.
        </p>

        <p>
            Cras pellentesque augue diam, ac sagittis nibh hendrerit suscipit.
            Maecenas sed lorem egestas, pulvinar justo a, tincidunt urna. Nullam aliquet mollis dignissim.
            Sed eget vulputate dolor, in malesuada ante. Sed et ligula non dui laoreet ornare. Praesent viverra,
            lorem ac hendrerit euismod, nunc elit semper eros, eget dignissim eros ante vitae sapien. Morbi quis fermentum dolor.
            Sed in congue urna. Proin molestie neque purus, sit amet pretium eros vestibulum quis. Mauris et eleifend leo.
            In vehicula lacus sit amet dui lacinia dignissim ut quis est. Nam cursus lorem non ligula volutpat fringilla.
            Ut a neque porta, eleifend lacus ut, volutpat urna. Nunc consequat sodales ligula, et volutpat ex ornare sit amet.
            Duis et ullamcorper nisi. Sed vitae lorem non ex aliquam ultricies eu nec magna.
        </p>

        <p>
            Phasellus blandit mauris in pellentesque commodo.
            Mauris pretium elit dui, faucibus feugiat lorem lobortis non.
            Duis posuere lacus vitae pellentesque pellentesque. Praesent commodo turpis nec vestibulum auctor.
            Nunc velit mi, faucibus molestie quam eget, blandit posuere risus. Aenean sit amet risus purus. Aliquam quis malesuada sem.
            Quisque mattis augue erat, vel volutpat felis ornare at. Ut quis diam vitae leo sagittis venenatis eget vitae nunc. Phasellus massa lacus, porttitor id ullamcorper elementum, posuere non velit. Aenean suscipit, ipsum id aliquam pellentesque, diam sem vestibulum odio, at congue urna leo ut diam. Vestibulum lacinia magna laoreet ex aliquet, sit amet pellentesque dolor placerat. Nam a quam congue, sollicitudin arcu eu, faucibus lorem. Nullam sed egestas tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris tincidunt dapibus urna, et sodales neque lobortis et.
        </p>

        <p>
            Nam interdum ut diam id malesuada. Praesent sit amet ornare leo, eget congue dui. Aliquam sed orci tortor.
            Phasellus tristique metus diam, eget hendrerit ligula tempus at. Curabitur commodo eros eros, vel ullamcorper leo hendrerit sed.
            Aliquam sodales urna ac elit semper, a bibendum tortor sagittis. Nulla facilisis est vitae enim lobortis, vel dictum libero commodo.
            Etiam consequat egestas mi eu venenatis. Etiam sodales, augue vel interdum pulvinar, eros nisi commodo libero,
            in venenatis augue purus et risus. Donec urna massa, varius et arcu vel, auctor fermentum lacus. Proin nec cursus ante.
            Quisque augue sem, porta ut rhoncus sit amet, lobortis nec massa. Quisque arcu justo, gravida non tempor at, gravida nec libero.
        </p>

        <p>
            Integer et nisl porttitor ligula pharetra facilisis.
            Sed ut sagittis lorem. Sed condimentum erat nec ligula accumsan sodales.
            Mauris accumsan maximus ex, ac pellentesque nulla vestibulum ut. Vivamus vel pharetra nibh. Donec vel elit vel neque
            mattis consectetur. Sed sed elit in lacus aliquet aliquet. Donec metus ligula, imperdiet eget semper in, vestibulum sit amet nisl.
            Ut dictum, justo quis dictum rhoncus, est metus volutpat nibh, vel finibus sem enim varius ligula.
            Fusce sed justo nisl. Nullam iaculis ligula metus, et ultrices nibh facilisis id. Etiam in velit fermentum,
            dictum dolor id, dictum mi. In non feugiat nunc. Sed vitae imperdiet magna. Curabitur et sapien ultrices, iaculis metus vel,
            dignissim tortor.
        </p>

        <p>
            Nunc augue augue, sagittis sed viverra vel, tincidunt quis odio.
            In semper leo sit amet neque tincidunt, eget venenatis massa viverra. Nunc id lacus arcu. Mauris lobortis velit mauris,
            vel interdum urna interdum vel. Donec pellentesque accumsan ipsum, vel lacinia dui molestie nec.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vel accumsan lectus,
            ac faucibus elit. Ut ut neque aliquam, cursus erat vitae, ultrices turpis. Curabitur et nunc in metus mollis pellentesque.
            Morbi ullamcorper in est in condimentum. Duis in lacinia nisi. Integer blandit interdum leo sit amet viverra.
            Curabitur euismod non nunc vitae porttitor. Aenean at consectetur nisl, nec faucibus orci. In ut lorem nibh.
        </p>

        <p>
            Curabitur mattis sem et mauris ullamcorper pharetra. Praesent sodales erat tortor, laoreet ultricies enim efficitur sit amet.
            Fusce lobortis euismod felis eget efficitur. Praesent quis gravida velit, a iaculis nunc. Maecenas et massa tortor.
            Proin dignissim imperdiet eros non placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Sed feugiat quam vel est feugiat, sit amet ullamcorper metus cursus.
            Fusce sit amet lectus quis ipsum cursus fringilla ac sed nisi. Maecenas ut metus congue, mollis dolor non, sodales velit.
            In ipsum risus, porta non dui posuere, mattis congue nisl. Morbi ornare, lacus lacinia posuere iaculis,
            nulla felis suscipit sapien, id varius purus mi non nulla. In hac habitasse platea dictumst. Proin iaculis
            quis nulla sit amet finibus. Sed posuere ligula in felis egestas, quis varius dolor eleifend. Quisque et orci felis.
        </p>

        <p>
            Nam pellentesque lorem vitae metus rutrum, quis porta enim iaculis. Duis consectetur, metus eget egestas maximus,
            nunc ligula ultricies est, at luctus orci tellus in mauris. Proin quis ex dictum, vehicula risus in, sagittis nisl.
            Etiam vitae sodales lacus. Curabitur ipsum mauris, pretium semper venenatis vitae, pharetra vitae quam. In in metus ultricies,
            rhoncus purus sit amet, congue justo. Nam et eros eget lectus porta ornare a sed turpis. Morbi et urna in nulla porta ullamcorper.
            Suspendisse dictum dignissim lectus quis vulputate. Vestibulum sed elit interdum, rhoncus enim id, scelerisque diam.
            Nullam mattis nisi lacus, ut tristique leo molestie at. Donec semper risus eu arcu dapibus, vel dictum sem volutpat.
            Sed eget aliquam eros. Cras mollis efficitur leo, vel tempus arcu luctus a. Duis non gravida nisl.
        </p>

        <br />
        <br />
    </div>

    <div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    </div>

    <div>
        @Html.Partial("_About")
    </div>

</div>